<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finanças - Categoria</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

<header>
    <h1 th:text="${mes} + ' - Finanças'">Mês - Finanças</h1>
</header>

<section>
    <button class="back-button" onclick="voltarParaInicial()">⬅ Voltar</button>
    <h2>Categorias</h2>
    <ul>
        <tr th:each="categoria : ${todasCategorias}">
            <li>
                <a th:href="@{/categoria(categoria=${categoria.nome}, mes=${mes}, ano=${ano})}" th:text="${categoria.nome}">Categoria</a>
            </li>
        </tr>
    </ul>
</section>

<footer class="navigation-footer">
    <button onclick="navegarCategoriaAnterior()">&#8249; Categoria Anterior</button>
    <button onclick="navegarCategoriaProxima()">Próxima Categoria &#8250;</button>
</footer>

<script src="../static/js/script.js"></script>
</body>
</html>